.card {
    flex-direction: inherit !important;
    width: 450px;
    height: 600px;
    text-align: left;
    display: flex;
    left: 10px;
    top: 100px;
    border-radius:0% !important;     
}
.g-4 {
    --bs-gutter-x: -30rem !important;
    padding-bottom: 422px;
    padding-top: 30px;


} 
.row>* { 
    margin-top: 20px !important;


}





.team-cards {
    position: relative;
    display: flex;
}


.card-title {
    position: relative;
    width: 183px;
    height: 23px;
    padding-bottom: 59px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #242424;
}



.member-location {
    position: relative;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #767575;
}

.member-email {
    position: relative;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #0047FF;
}

.card-img {

    padding: 10px 25px 10px 10px;
    width: 100px;
    height: 210px;
    left: 29px;
    top: 42px;
}


@media screen and (max-width: 750px) {
    .g-4 {
        --bs-gutter-x: 0rem !important;
        padding-bottom: 422px;
        padding-top: 30px;
    
    
    } 
}