.navbar-container {
    position: absolute;
    background: #494949;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: rgb(248, 248, 248);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    
}


.dialog {
    border: none;
    position: absolute;
    width: 100%;
    height: 309%;
    top: -169%;
    background: rgb(38, 85, 172);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-button {
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
    height: 45px;
    border: 0ch;
    margin-left: 10px;
    margin-top: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.search-bar {
    width: 70%;
    height: 45px;
    border: 0ch;
    margin-top: 45px;
    margin-left: 280px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.close-button {
    color: rgb(255, 255, 255);
    background-color: rgb(38, 85, 172);
    ;
    border: 0ch;
    margin-left: 70px;
    font-size: 180%;
    font-weight: 100;
    height: 45px;
    margin-top: 45px;
}
.news-logo2 {
   
position: absolute;
width: 263px;
height: 60px;
left: 12px;
top: 9px;
margin-top: 42px;    
}
/* navbar-dark-example:after { content: none } */


.dropdown-toggle::after {
    content: none !important;
    display: none;
}